@tailwind base;
@tailwind components;
@tailwind utilities;

/* Antd */
.sidebar .ant-menu-item {
    border-bottom: 1px solid #B2B7BF;
    border-radius: 0px !important;
    width: 100% !important;
    margin: 0px !important;
    height: 80px !important;
    line-height: 80px !important;
    font-size: 24px;
    color: black;
}

.sidebar .ant-menu-item:hover {
    background-color: #fff !important;
    color: initial !important;
}

.sidebar .ant-menu-item.ant-menu-item-selected {
    background-color: #1677FF !important;
    color: #ffff !important;
}
